<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>

</head>

<body>

<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="country">Country:</label>
                            <input type="text" class="form-control" id="country">
                        </div>
                        <button type="button" id="btn_consume" class="btn btn-default btn-sm">Consume</button>
                        <button type="button" id="btn_save_favourite" class="btn btn-default btn-sm">Favourite</button>
                        <button type="button" id="btn_clean" class="btn btn-default btn-sm">Clean</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">
                        <table id="webservice_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Listeners</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Country</th>
                                    <th>Listeners</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-md-6">
                        <table id="favourite_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>



            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
        </div>
    </div>

</div>
</body>
</html>


<script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function ($) {

        var webservice_table = $('#webservice_table').DataTable( {
            "ajax": '/loadWebserviceTable',
        } );

        var favourite_table = $('#favourite_table').DataTable( {
            "ajax": '/loadFavouriteTable',
        } );

        $('#webservice_table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('active');
        } );

        $('#favourite_table tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('active');
        } );


        $("#btn_consume").click(function(){
            $.ajax({
                url: '/consumeLastfmWebservice?country='+$("#country").val(),
                success: function(result){
                    console.log(result);
                    webservice_table.ajax.reload();
                }
            });
        });

        $('#btn_save_favourite').click( function () {
            saveFavourite(webservice_table, favourite_table);
        } );

        $("#btn_clean").click(function(){
            $.ajax({
                url: '/clean',
                success: function(result){
                    console.log(result);
                    webservice_table.ajax.reload();
                    favourite_table.ajax.reload();
                }
            });
        });

    });

    function saveFavourite(webservice_table, favourite_table){
        var id_list = "";
        webservice_table.rows('.active').data().each(function (value, index) {
            id_list += value[0]+";"
        });

        $.ajax({
            url: '/saveFavourite?id_list='+id_list,
            success: function(result){
                console.log(result);
                favourite_table.ajax.reload();
            }
        });
    }
</script>
